.itemContainer{
    display: grid;
    grid-template-columns:50px 4fr 2fr 120px;

    .ambulanceContainer{
        display: flex;
        justify-content: stretch;

        .description{
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name{
                font-family: Poppins;
                font-size: 18px;
                font-weight: 700;
                text-align: left;
                
            }

            .address{
                font-family: Inter;
                font-size: 14px;
                font-weight: 600;
                text-align: left;
                color: #9E9E9E;

            }
        }
    }

    .phoneNumber{
        font-family: Roboto;
        font-size: 18px;
        font-weight: 600;
        color: #404040;
        text-align: left;
        
    }
    
    .actionContainer{
        display: flex;
        gap: 10px;

        .edit{
            height: 35px;
            width: 35px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #FFC700;
        }

        .delete{
            height: 35px;
            width: 35px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #F1416C;
        }
    }
}

.divider{
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: #F3F6F9;
}